In [1]:
import pandas as pd
import pyreadr
import numpy as np

In [12]:
df = pyreadr.read_r('./data_eval/data-shared/20210317_processed.RDS')[None]

In [2]:
df = pyreadr.read_r('./data_eval/data-shared/20210317_processed.RDS')[None]
unique_nodes = np.unique(df[['reporting_id', 'opposing_id']].values.flatten())
print(len(unique_nodes))

node_int_dict = dict(zip(unique_nodes, np.arange(0, len(unique_nodes), 1)))
df.reporting_id = df.reporting_id.map(node_int_dict)
df.opposing_id = df.opposing_id.map(node_int_dict)
df = df[df.distance <= 200.0]
df['day'] = df.timestamp.dt.date
df['date'] = df.timestamp
df.timestamp = (df.timestamp - df.timestamp.min()).dt.seconds
df

539

,timestamp,reporting_id,opposing_id,distance,condition_id,group_id,day,date
40,0,177,290,141.0,1.0,NaN,2021-03-17,2021-03-17 12:21:47
43,0,290,177,141.0,1.0,NaN,2021-03-17,2021-03-17 12:21:47
44,1,177,290,141.0,1.0,NaN,2021-03-17,2021-03-17 12:21:48
47,1,290,177,141.0,1.0,NaN,2021-03-17,2021-03-17 12:21:48
48,2,177,290,85.0,1.0,NaN,2021-03-17,2021-03-17 12:21:49
...,...,...,...,...,...,...,...,...
366252,15793,143,475,199.0,1.0,NaN,2021-03-17,2021-03-17 16:45:00
366253,15793,151,443,95.0,1.0,1.30,2021-03-17,2021-03-17 16:45:00
366269,15793,443,151,95.0,1.0,1.30,2021-03-17,2021-03-17 16:45:00
366272,15793,475,21,190.0,1.0,NaN,2021-03-17,2021-03-17 16:45:00
366274,15793,475,143,199.0,1.0,NaN,2021-03-17,2021-03-17 16:45:00

In [40]:

df_ps = pd.read_parquet('./data_eval_split/gallery/f20_2009-05-22.parquet')
df_ps

         t    i    j                date         day
0        0   70  168 2009-05-22 10:04:19  2009-05-22
1        0   72  172 2009-05-22 10:04:19  2009-05-22
2        1   70  168 2009-05-22 10:04:39  2009-05-22
3        1   72  172 2009-05-22 10:04:39  2009-05-22
4        2   70  168 2009-05-22 10:04:59  2009-05-22
...    ...  ...  ...                 ...         ...
5524  1442  148  132 2009-05-22 18:04:59  2009-05-22
5525  1442  148  153 2009-05-22 18:04:59  2009-05-22
5526  1442  132  153 2009-05-22 18:04:59  2009-05-22
5527  1443  148  132 2009-05-22 18:05:19  2009-05-22
5528  1443  132  153 2009-05-22 18:05:19  2009-05-22

[5529 rows x 5 columns]

In [9]:
# complete Berlin data
df_berlin = pd.read_csv('./VF_data/pandemos_tra_tapas_modell.csv')

In [11]:
# export important Berlin data to parquet
pd.read_parquet('./VF_data/berlin_data.parquet')

             p_id  loc_id_end  activity_start_min  activity_end_min
0               0       69300                 601               651
1               0   100000000                 662               897
2               0      300992                 915               916
3               0   100000000                 937              1224
4               1      231788                 850              1215
...           ...         ...                 ...               ...
13578532  3604316   102024435                1503              1505
13578533  3604317      320942                1230              1231
13578534  3604317   102024435                1253              1293
13578535  3604318      317784                1100              1105
13578536  3604318   102024435                1124              1172

[13578537 rows x 4 columns]

In [15]:
pd.read_parquet('./VF_data/rns_data_2.parquet').info()

<class 'pandas.core.frame.DataFrame'>
Index: 13477747 entries, 0 to 13578536
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   p_id                   uint32
 1   activity_start_min     int16
 2   activity_duration_min  int64
 3   activity               int64
 4   loc_id_end             int64
 5   activity_name_mct      category
 6   activity_end_min       int16
dtypes: category(1), int16(2), int64(3), uint32(1)
memory usage: 527.0 MB

In [7]:
# complete rns data
df = pd.read_csv('./VF_data/region_niedersachsen_tapas_modell.csv')

In [8]:
df

,p_id,hh_id,scheme_id,score_combined,score_finance,score_time,taz_id_start,taz_has_toll_start,block_id_start,loc_id_start,...,is_home,activity_start_min,activity_duration_min,car_index,is_restricted,p_group,taz_bbr_type_start,bbr_type_home,loc_selection_motive,loc_selection_motive_supply
0,102359869,101232561,62394,0.078162,1.000000e+00,1.000000,2550,f,-1,130378,...,t,950,495,-1,f,2,73,73,0,0
1,101703905,100912769,46321,0.889043,2.403246e-16,0.999094,1896,f,-1,-100912769,...,f,415,1,0,f,17,73,73,0,0
2,101703905,100912769,46321,0.889043,2.403246e-16,0.999094,1896,f,-1,220009,...,t,418,485,0,f,17,73,73,0,0
3,101703905,100912769,46321,0.889043,2.403246e-16,0.999094,1896,f,-1,-100912769,...,f,905,185,0,f,17,73,73,0,0
4,101703905,100912769,46321,0.889043,2.403246e-16,0.999094,2019,f,-1,220132,...,f,1205,1,0,f,17,73,73,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012231,101528174,100824986,121136,0.000031,0.000000e+00,0.000000,1686,f,-1,65468,...,t,1174,240,0,f,15,71,71,0,0
9012232,102359869,101232561,62394,0.078162,1.000000e+00,1.000000,2551,f,-1,-101232561,...,f,739,110,0,f,2,73,73,0,0
9012233,102359869,101232561,62394,0.078162,1.000000e+00,1.000000,2597,f,-1,28,...,f,851,10,0,f,2,72,73,0,0
9012234,102359869,101232561,62394,0.078162,1.000000e+00,1.000000,2639,f,-1,220752,...,t,865,30,0,f,2,72,73,0,0
9012235,102359869,101232561,62394,0.078162,1.000000e+00,1.000000,2551,f,-1,-101232561,...,f,905,35,-1,f,2,73,73,0,0